<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>arqdsw1_encurtador_links</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontServlet</display-name>
    <servlet-name>FrontServlet</servlet-name>
    <servlet-class>br.edu.ifsp.encurtador.controller.FrontServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontServlet</servlet-name>
    <url-pattern>/FrontServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CurtoServlet</display-name>
    <servlet-name>CurtoServlet</servlet-name>
    <servlet-class>br.edu.ifsp.encurtador.controller.CurtoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurtoServlet</servlet-name>
    <url-pattern>/CurtoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogadoServlet</display-name>
    <servlet-name>LogadoServlet</servlet-name>
    <servlet-class>br.edu.ifsp.encurtador.controller.LogadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogadoServlet</servlet-name>
    <url-pattern>/LogadoServlet</url-pattern>
  </servlet-mapping>
</web-app>